include README.md
include LICENSE
include requirements.txt
include env.yaml
recursive-include bapred/weight *.pth
recursive-include example *.pdb *.sdf *.sh
global-exclude __pycache__
global-exclude *.py[co] 